body {
    background-image: url(./images/360_F_566095454_YRWcyvfmcagT6wlZB5DBnU5QaxOcExOW.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   


}

#text {
    background-color: #0a0a23;
    color: #ffffff;
    padding: 10px;

}

#game {
    max-width: 500px;
    max-height: 400px;
    background-color: #ffffff;
    color: #ffffff;
    margin: 30px auto 0px;
    margin-top: 550px;
    padding: 100px;
    background-image: url(./images/Black-Man-Wielding-Sword-In-Biblical-Times-46205631-1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#controls,
#stats {
    border: 1px solid #0a0a23;
    padding: 5px;
    color:aqua;
}

#monsterStats {
    display: none;
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #ffffff;
    background-color: #c70d0d;
}

.stat {
    padding-right: 10px;
}

button {
    cursor: pointer;
    color: #0a0a23;
    background-color: #feac32;
    background-image: linear-gradient(#fecc4c, #ffac33);
    border: 3px solid #feac32;
}