* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-image: url('assets/background-stars.svg');
}

nav{
    font-size: 2rem;
}
h1 {
    font-size: 4rem;
    color: #7cfc00;
}

/* h3{
    color:#ff00009f;
} */
span{
    color:#7cfc00;
}

p {
    font-size: 2rem;
}

.item {
    list-style: none;
}

.item> {
    color: #f0f8ff;
    text-decoration: none;
    list-style: none;

}

.item>:hover {
    color: #7cfc00;

}


.info {
    border-color: #f0f8ff;
    border-radius: 12%;
    border-style: groove;
    padding: .1rem;
    width: 30%;
    font-size: 1.1rem;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
    margin-top: 2rem;

}


.btn {
    border-color: #f0f8ff;
    border-radius: 12%;
    border-style: groove;
    padding: 1rem;
    cursor: pointer;
    background-color: #242424;
    margin-top: 1rem;
    font-size: 1.1rem;
    color:#7cfc00
}

.btn:hover {
    border-color: #006400;
    background-color: #7cfc00;
    color: #000000;

}

.geology {

    position: relative;
    width: fit-content;
    margin-bottom: 180px;
}

.geo {
    position: absolute;
    width:200px;
    left: 104px;
    bottom: -145px;


}

.flex {
    display: flex;
    justify-content: center;
    gap: 2rem;

}
.facts{
    margin-top: 5rem;
}

a {
    font-weight: bolder;
    color: #f0f8ff;
    list-style: none;
    text-decoration: none;
}

.myPic {
    width: 400px;
    height: 400px;

}
